{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "app": "./app",
        "config": "./config.json",
        "react-app-elements": "./src/components",
        "react-app-elements-stylesheets": "./src/stylesheets/main.less"
      }
    }]
  ]
}
