# .npmignore
# Ignores all folders except for the produced dist folder

.circleci
app
public
server
src
test

# Dot Files
.babelrc
.eslintrc
.gitignore
.lintstagedrc
.prettierrc
.stylelintrc
webpack.config.js