/**
 * card.less
 * Styles for card components
 */

.polaroid-frame {
  background: @polaroid-frame-background;
  border-radius: @polaroid-frame-border-radius;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: @polaroid-padding;
  position: relative;

  .content {
    align-items: center;
    background: @polaroid-content-background;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    position: relative;

    img {
      flex-shrink: 0;
    }

    .scale-button {
      border: none;
      background: none;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .description {
    margin-bottom: @polaroid-padding;
    margin-top: @polaroid-padding;
    height: @polaroid-description-height;
  }

  .notification {
    background: red;
    border-radius: @polaroid-notification-border-radius;
    min-width: @polaroid-notification-min-width;
    padding: @polaroid-notification-padding;
    position: absolute;
    right: @polaroid-notification-right;
    text-align: center;
    top: @polaroid-notification-top;
  }
}
