/**
 * card.less
 * Styles for card components
 */

.polaroid-frame {
  background: @polaroid-frame-background;
  border-radius: @polaroid-frame-border-radius;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  grid-column: span 8;
  grid-row: span 8;
  padding: @polaroid-padding;

  .content {
    align-items: center;
    background: @polaroid-content-background;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  .description {
    margin-top: @polaroid-padding;
    height: 1em;
  }
}
