/**
 * grid.less
 * Stylings for grid related components
 */

.polaroid-container {
  display: grid;
  grid-gap: @polaroid-container-grid-gap;
  grid-template-columns:
    repeat(
      auto-fill,
      minmax(@polaroid-container-grid-cell, 1fr)
    );
  grid-template-rows:
    repeat(
      auto-fill,
      minmax(@polaroid-container-grid-cell, 1fr)
    );
  grid-auto-flow: dense;
  grid-auto-rows: minmax(@polaroid-container-grid-cell, 1fr);
  overflow: auto;
  padding-right: @polaroid-container-padding-right;
  padding-top: @polaroid-container-padding-top;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
