/**
 * layout.less
 * Layout component styles
 */

.layout,
.layout-row {
  display: flex;
  flex: 1;
  overflow: auto;
}

.layout-column {
  &:extend(.layout);

  flex-direction: column;
}

.layout-flex-wrap {
  &:extend(.layout);

  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  scrollbar-width: none;
  transition: 0.25s;
}

.grid-container {
  display: grid;
  // grid-template-columns: 1fr max-content 1fr;
  // grid-gap: @grid-container-grid-gap;
  // grid-template-columns: repeat(auto-fill, max-content);
  // grid-template-rows: repeat();
}

.page-layout {
  &:extend(.layout-column);

  height: 100%;
}
