/**
 * navigation.less
 * Styles for navigation bar
 */

.nav-item {
  align-self: center;
  display: flex;
  padding: 1em;
}

.navigation {
  background: linear-gradient(to bottom right, #fabb98, #d48dd1);
  display: flex;
  padding: 1em;

  .logo {
    &:extend(.nav-item);
  }

  .left:extend(.nav-item) {
    flex: 1;
  }
  .center:extend(.nav-item) {
    flex: 1;
    justify-content: center;
  }
  .right:extend(.nav-item) {
    flex: 1;
    flex-direction: row-reverse;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 1em;
    padding: 0;

    li {
      margin: 0 1em;
    }
  }
}
